---
# Default home page with boxes providing collection stats
layout: page
---
{%- assign items = site.data[site.metadata] | where_exp: 'item', 'item.objectid != nil' -%}
<div class="row">
  <div class="col-md-8">

    {% include index/description.html %}
    {% include feature/card.html header="Vernacular Architecture" text="Broad term for any architecture built of local materials to suit particular local needs, generally constructed outside any academic tradition and without professional guidance. It is often of unknown authorship and makes little reference to established styles or theories of architecture. Most architectural works in the world are vernacular architecture.  -[Getty Art & Architecture Thesaurus](https://www.getty.edu/vow/AATFullDisplay?find=vernacular&logic=AND&note=&english=N&prev_page=1&subjectid=300068483)" width="25" %}
    {% include index/carousel.html title="Sample Items" height="300" %}
  
  </div>
  <div class="col-md-4">  

    {% include index/featured-terms.html field="subject" title="Top Subjects" btn-color="primary" %}

    {% include index/featured-terms.html field="location" title="Locations" btn-color="outline-secondary" %}

    {% include index/objects.html %}

  </div>
  <div class="col-md-12">

    {% include index/data-download.html %}

  </div>
</div>
